<div class="wrapper">
    <div class="content">
        <div class="titles">
            <h2 class="titles__title">Mis citas</h2>
        </div>
        <!-- <div class="search-box">
            <input type="text" name="" id="">
        </div> -->
        <div class="appointments">
            <table class="table">
                <tr>
                    <th>Nombre mascota</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Cancelar hora</th>
                </tr>
                <tbody class="tbody">
                    <tr>
                        <td>Valentino</td>
                        <td>22/10/1998</td>
                        <td>10:30am</td>
                        <td><button>Cancelar</button></td>
                    </tr>
                    <tr>
                        <td>Jostin</td>
                        <td>22/10/1998</td>
                        <td>10:30am</td>
                        <td><button>Cancelar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
