<div class="menu-opacity" [ngClass]="{ 'menu-opacity--active': navBarService.opacity}"></div>
<nav class="lateral"
    [ngClass]="{ 'lateral--active': navBarService.navBarIsActive, 'lateral--desactivate': !navBarService.navBarIsActive, 'lateral--show': navBarService.navBarIsActive}">
    <ul class="lateral__menu">
        <li class="lateral__item">
            <a class="lateral__link" (click)="scrollTo('home'); setHomeLink(); offNavMenu(); offOpacity()"
                [ngClass]="getActiveLink === 0 ? 'lateral__link--active': 'lateral__link--inactive'">Inicio</a>
        </li>
        <li class="lateral__item">
            <a class="lateral__link" (click)="scrollTo('services'); offNavMenu(); offOpacity();setServiceLink()"
                [ngClass]="getActiveLink === 1 ? 'lateral__link--active': 'lateral__link--inactive'">Servicios</a>
        </li>
        <li class="menu__item">
            <a class="lateral__link" (click)="setAboutLink(); scrollTo('about'); offNavMenu(); offOpacity()"
                [ngClass]="getActiveLink === 2 ? 'lateral__link--active': 'lateral__link--inactive'">Nosotros</a>
        </li>
        <li class="lateral__item">
            <a class="lateral__link" (click)="scrollTo('contact'); setContactLink(); offNavMenu(); offOpacity()"
                [ngClass]="getActiveLink === 3 ? 'lateral__link--active': 'lateral__link--inactive'">Contacto</a>
        </li>
        <li class="lateral__item">
            <a class="lateral__link menu__link--session" [routerLink]="'/appointments/create'"
                (click)="offNavMenu(); offOpacity()">Reservar hora</a>
        </li>
        <li class="lateral__item" *ngIf="authStatus() === statusValues.NOTAUTHENTICATED">
            <a class="lateral__link menu__link--session" [routerLink]="'/auth/login'"
                [ngClass]="getActiveLink === 4 ? 'menu__link--active': 'menu__link--inactive'"
                (click)="offNavMenu(); offOpacity()">Iniciar sesion</a>
        </li>
        <li class="lateral__item" *ngIf="authStatus() === statusValues.NOTAUTHENTICATED">
            <a class="lateral__link menu__link--session" [routerLink]="'/auth/register'"
                [ngClass]="getActiveLink === 5 ? 'menu__link--active': 'menu__link--inactive'"
                (click)="offNavMenu(); offOpacity()">Registrarse</a>
        </li>
        <li class="lateral__item" *ngIf="authStatus() === statusValues.AUTHENTICATED">
            <a class="lateral__link menu__link--session" [routerLink]="'/dashboard'"
                [ngClass]="getActiveLink === 5 ? 'menu__link--active': 'menu__link--inactive'"
                (click)="offNavMenu(); offOpacity()">Mis Citas</a>
        </li>
    </ul>
    <img src="../assets/icons/x.svg" alt="X" class="lateral__x" (click)="offNavMenu(); offOpacity()">
</nav>