.wrapper {

    height: 100vh;
    max-height: 100vh;
    display: flex;
    width: 100%;

    @media screen and (min-width:500px) {
        justify-content: center;
        align-items: center;
        background-color: rgb(243, 243, 243);
    }

}

.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;

    height: 400px;
    justify-content: center;
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.2);




    @media screen and (min-width:500px) {
        max-width: 400px;
    }
}


.form {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2em;


}

.container__header {
    padding-bottom: 1em;
}

.container__header-text {
    text-align: center;
    font-size: 1.8rem;
}

.form__item {
    width: 100%;
    position: relative;
}

.form__img {
    position: absolute;
    left: 0.2em;
    top: 0.3em;
    width: 20px;
    height: 20px;
}

.form__input {
    width: 100%;
    height: 30px;
    padding: 0.5em;
    padding-left: 2.5em;

    border: none;
    outline: none;
    border-bottom: #f0f0f0 1px solid;
}

.form__input:focus {
    border-bottom-color: var(--primary-color);
}


.form__buttons {
    display: flex;
    justify-content: center;

}

.form__button {
    padding: 1em;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 8px;
    width: 30%;
    min-width: 100px;
    cursor: pointer;
}

.form__button:hover {
    transform: translateY(-1px);
}

.container__footer {
    display: flex;
    justify-content: space-between;
}

.container__footer-link {
    font-size: 0.8rem;
    cursor: pointer;
}

.container__footer-link:hover {
    color: var(--primary-color);
}