<section class="contact" id="contact">

    <div class="contact__title">
        <h2 class="contact__title-text">CONTACTO</h2>
    </div>

    <div class="information">

        <div class="information__texts">
            <p>Correo: esquinapetgmails.com</p>
            <p>Telefono:+5694455454</p>
            <p>Direccion: Av. Gabriela Mistral #256, paradero A, Forestal., Viña del Mar, Chile

            </p>
            <p>Horario: Lunes a Sábado: 10:00am - 19:00pm.</p>
        </div>

        <div class="information__map">
            <div #map class="map"></div>
        </div>

    </div>
</section>