<form class="form">
    <div class="form__group">
        <label for="name">Nombre</label>
        <input type="text" placeholder="Nombre" id="name" class="form__input">
    </div>

    <div class="form__group">
        <label for="name">Apellido</label>
        <input type="text" placeholder="Apellido" class="form__input">
    </div>

    <div class="form__group">
        <label for="name">Telefono</label>
        <input type="text" placeholder="Telefono" class="form__input">
    </div>

</form>