<section class="about" id="about">






    <div class="about__title-container">
        <h2 class="about__title">ACERCA DE NOSOTROS</h2>
    </div>


    <div class="wrapper">

        <div class="mission">

            <div class="mission__texts">
                <div class="mission__header">
                    <h2 class="mission__title mission__title--span">Nuestra <span
                            class="mission__title ">Historia</span>
                    </h2>
                </div>
                <div class="mission__body">
                    <p class="mission__body-text">Empresa dedicada a prestaciones de servicios médicos veterinarios
                        en
                        medicina menor, a cargo de la Dra. Natalia Castro.Tenemos servicios y calidad al alcance,
                        entre
                        estos destacan: Medicina preventiva, cirugía general, consultas, hospitalización y
                        peluquería
                        canina.</p>
                    <p class="mission__body-text">Nuestra empresa tiene como misión el servir a la sociedad a través
                        de
                        respuestas profesionales a las necesidades Médico Veterinarias de nuestros clientes y
                        pacientes.
                        Nuestro compromiso es ofrecer la máxima calidad en el servicio y la entera satisfacción del
                        solicitante.</p>
                </div>

            </div>

            <div class="mission__image-containter">
                <img src="./assets/images/quienesSomos1.png" alt="" class="mission__image">
            </div>



        </div>


        <div class="mission">

            <div class="mission__texts">
                <div class="mission__header">
                    <h2 class="mission__title mission__title--span">Nuestra <span class="mission__title ">Mision</span>
                    </h2>
                </div>
                <div class="mission__body">
                    <p class="mission__body-text">Empresa dedicada a prestaciones de servicios médicos veterinarios
                        en
                        medicina menor, a cargo de la Dra. Natalia Castro.Tenemos servicios y calidad al alcance,
                        entre
                        estos destacan: Medicina preventiva, cirugía general, consultas, hospitalización y
                        peluquería
                        canina.</p>
                    <p class="mission__body-text">Nuestra empresa tiene como misión el servir a la sociedad a través
                        de
                        respuestas profesionales a las necesidades Médico Veterinarias de nuestros clientes y
                        pacientes.
                        Nuestro compromiso es ofrecer la máxima calidad en el servicio y la entera satisfacción del
                        solicitante.</p>
                </div>
            </div>

            <div class="mission__image-containter">
                <img src="./assets/images/quienesSomos2.png" alt="" class="mission__image">
            </div>

        </div>

        <div class="team">
            <h2 class="team__title">NUESTRO EQUIPO</h2>
            <core-desktop-carousel class="carousel-desktop"></core-desktop-carousel>
            <core-movil-carousel class="carousel-movil"></core-movil-carousel>
            <!-- <core-tablet-carousel class="carousel-tablet"></core-tablet-carousel> -->
        </div>

        <!-- <core-carousel class="carousel"></core-carousel> -->




    </div>

</section>