/*Mobile first*/

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: 60px;
    min-width: 250px;
    background-color: var(--white-bg);
    box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.header__icon {
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
}

.header__icon-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.nav {
    display: none;

    @media screen and (min-width:720px) {

        display: block;

    }
}


.menu {
    display: flex;
    gap: 2em;
}


.menu__link {
    cursor: pointer;
    color: var(--light-black-font-color);
    transition: color 0.3s ease;
    text-transform: uppercase;
    font-size: 0.9rem;

    &:hover {
        color: var(--primary-color);
    }
}


.menu__link--active {
    color: var(--primary-color);
}

.menu__link--inactive {
    color: var(--light-black-font-color);
}

.menu__link--session:active {
    color: var(--primary-color);
}



.header__hamburguer {
    width: 40px;
    height: 40px;
    cursor: pointer;

    @media screen and (min-width: 720px) {
        display: none;
    }
}


/*nav bar bug*/

@media screen and (min-width:720px) {

    .navbar {
        display: none;
    }


}