<section class="banner" id="banner">

    <div class="overlay">

        <div class="overlay__content">


            <div class="banner__content">

                <div class="banner__header">
                    <h1 class="banner__title">ESQUINA PET</h1>
                </div>

                <div class="banner__body">

                    <div class="banner__information">

                        <div class="banner__subtitle">
                            <h2 class="banner__subtitle-text">25 Anos de experiencia</h2>
                        </div>

                        <div class="banner__texts">
                            <p class="banner__text">Servicios y calidad al alcance: Medicina Preventiva, Cirugía
                                General, Consultas, Hospitalización y
                                Peluquería Canina, entre otros</p>
                        </div>

                    </div>

                    <div class="banner__buttons">
                        <button *ngIf="authStatus() === authStautsValues.AUTHENTICATED"
                            class="banner__button banner__button--agend" [routerLink]="'/appointments'">Reservar una
                            hora</button>
                        <button *ngIf="authStatus() === authStautsValues.CHECKING"
                            class="banner__button banner__button--agend" [routerLink]="'/auth/login'">Iniciar
                            sesión</button>
                        <button class="banner__button banner__button--services" (click)="scrollTo('services')">Nuestros
                            servicios</button>
                    </div>


                    <!-- <div class="banner__controls">
                      <button>IZQUIERDA</button>
                      <button>DERECHA</button>
                  </div>

                  <div class="banner__state">
                      <div class="banner__circle"></div>
                      <div class="banner__circle"></div>
                  </div> -->

                </div>

            </div>

        </div>

    </div>

</section>