<div class="wrapper">

    <div class="user">
        <div class="user__titles">
            <h2 class="user__title">Informacion del usuario</h2>
        </div>
        <div class="user__information">
            <div class="user__information-group">
                <p>Nombre: </p>
            </div>
            <div class="user__information-group">
                <p>Apellido: </p>
            </div>
            <div class="user__information-group">
                <p>Telefono: </p>
            </div>

        </div>
        <button class="user__button">Editar informacion</button>
    </div>
</div>