.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3em;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #fff;
    max-width: 500px;
    min-width: 300px;
    width: 90%;
    padding: 2em;
    border-radius: 8px;
}

.user__information {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.user__button {
    background-color: #3085d6;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 2em;
    gap: 1em;
}

.form__group {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.form__input {
    width: 100%;
    height: 30px;
    padding: 0.5em;
    padding-left: 2.5em;

    border: none;
    outline: none;
    border-bottom: #f0f0f0 1px solid;
}

.form__buttons {
    display: flex;
    gap: 1em;
}

.user__button--red {
    background-color: #dc3545;
}
.form__error {
    color: red;
    font-size: 0.8rem;
}
