.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 3em;
}

.user {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #fff;
    height: 400px;
    max-width: 500px;
    width: 90%;
    padding: 2em;
    border-radius: 8px;
}

.user__information {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.user__button {
    position: absolute;
    bottom: 2em;
    right: 2em;
    background-color: #3085d6;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

// .form {
//     display: flex;
//     flex-direction: column;
//     margin-top: 2em;
//     gap: 1em;
// }

// .form__group {
//     display: flex;
//     flex-direction: column;
//     gap: 0.5em;
// }

// .form__input {
//     height: 30px;
// }
