<div class="wrapper">
    <div class="content">
        <div class="titles">
            <h2 class="titles__title">Mis citas</h2>
        </div>
        <!-- <div class="search-box">
            <input type="text" name="" id="">
        </div> -->
        <div class="appointments">
            <table class="table">
                <tr>
                    <th>Nombre mascota</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Motivo de hora</th>
                    <th>Cancelar hora</th>
                </tr>
                <tbody class="tbody">
                    <tr *ngFor="let appointment of appointments()">
                        <td>{{appointment.petName}}</td>
                        <td>{{appointment.date | date: 'dd/MM/yyyy'}}</td>
                        <td>{{appointment.time}}</td>
                        <!-- <td>{{appointments.sereviceType.serviceName}}</td> -->
                        <td>{{appointment.serviceType.serviceName| servicesType}}</td>

                        <td><button (click)="cancelAppointment(appointment.id)">Cancelar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>