<div class="wrapper">
    <div class="container">
        <div class="container__header">
            <h2 class="container__header-text">Registrarse</h2>
        </div>
        <form autocomplete="off" class="form" [formGroup]="registerForm" (ngSubmit)="onSave()">
            <div class="form__item">
                <img src="/assets/icons/rut.svg" alt="RUT" class="form__img" draggable="false" />
                <input type="text" placeholder="R.U.T: XX.XXX.XXX-X" class="form__input" formControlName="rut" />


                <span *ngIf="isValidField('rut')" class="form__error">{{getFieldErrors('rut')}}</span>

            </div>
            <div class="form__item">
                <img src="/assets/icons/user.svg" alt="Name" class="form__img" draggable="false" />
                <input type="text" placeholder="Nombre" class="form__input" formControlName="name" />
                <span *ngIf="isValidField('name')" class="form__error">{{getFieldErrors('name')}}</span>
            </div>
            <div class="form__item">
                <img src="/assets/icons/user.svg" alt="lastName" class="form__img" draggable="false" />
                <input type="text" placeholder="Apellido" class="form__input" formControlName="lastName" />
                <span *ngIf="isValidField('lastName')" class="form__error">{{getFieldErrors('lastName')}}</span>
            </div>
            <div class="form__item">
                <img src="/assets/icons/mail.svg" alt="email" class="form__img" draggable="false" />
                <input type="email" placeholder="Email" class="form__input" formControlName="email" />
                <span *ngIf="isValidField('email')" class="form__error">{{getFieldErrors('email')}}</span>
            </div>
            <div class="form__item">
                <img src="/assets/icons/phone.svg" alt="Phone" class="form__img" draggable="false" />
                <input type="text" placeholder="Celular: 9XXXXXXXX" class="form__input" formControlName="phone" />
                <span *ngIf="isValidField('phone')" class="form__error">{{getFieldErrors('phone')}}</span>
            </div>
            <div class="form__item">
                <img src="/assets/icons/lock.svg" alt="password" class="form__img" draggable="false" />
                <input type="password" placeholder="Contraseña" class="form__input" formControlName="password" />
                <span *ngIf="isValidField('password')" class="form__error">{{getFieldErrors('password')}}</span>
            </div>
            <div class="form__item">
                <img src="/assets/icons/lock.svg" alt="password" class="form__img" draggable="false" />
                <input type="password" placeholder="Repite la contraseña" class="form__input"
                    formControlName="repeatedPassword" />
                <span *ngIf="isValidField('repeatedPassword')"
                    class="form__error">{{getFieldErrors('repeatedPassword')}}</span>
            </div>
            <div class="form__buttons">
                <button class="form__button">Registrarse</button>
            </div>
        </form>
        <!--BOTONES OLVIDE CONTRASENA-->
        <div class="container__footer">
            <a class="container__footer-link" [routerLink]="'/auth/login'">Ya tienes una cuenta?</a>
        </div>
    </div>
</div>


<!-- <div class="col">
    <span>Valid</span>
    <pre>{{registerForm.valid| json}}</pre>


    <span>Pristine</span>
    <pre>{{registerForm.pristine| json}}</pre>

    <span>Touched</span>
    <pre>{{registerForm.touched| json}}</pre>

    <span>Pending</span>
    <pre>{{registerForm.pending| json}}</pre>

    <span>Status</span>
    <pre>{{registerForm.status| json}}</pre>


    <span>Value</span>
    <pre>{{registerForm.value| json}}</pre>

    <span>rut</span>
    <pre>{{registerForm.controls['rut'].value| json}}</pre>

    <span>name</span>
    <pre>{{registerForm.controls['name'].value | json}}</pre>

    <span>lastName</span>
    <pre>{{registerForm.controls['lastName'].value | json}}</pre>

    <span>email</span>
    <pre>{{registerForm.controls['email'].value | json}}</pre>

    <span>phone</span>
    <pre>{{registerForm.controls['phone'].value | json}}</pre>

    <span>password</span>
    <pre>{{registerForm.controls['password'].value | json}}</pre>

    <span>repeatedPassword</span>
    <pre>{{registerForm.controls['repeatedPassword'].value | json}}</pre>




    <span>rut</span>
    <pre>{{registerForm.controls['rut'].errors| json}}</pre>

    <span>name</span>
    <pre>{{registerForm.controls['name'].errors | json}}</pre>

    <span>lastName</span>
    <pre>{{registerForm.controls['lastName'].errors | json}}</pre>

    <span>email</span>
    <pre>{{registerForm.controls['email'].errors | json}}</pre>

    <span>phone</span>
    <pre>{{registerForm.controls['phone'].errors | json}}</pre>

    <span>password</span>
    <pre>{{registerForm.controls['password'].errors | json}}</pre>

    <span>repeatedPassword</span>
    <pre>{{registerForm.controls['repeatedPassword'].errors | json}}</pre>






</div> -->

<shared-footer></shared-footer>